node_modules/
.idea/
/playwrite-testing.iml

# Node modules
node_modules/
/tests/snapshot.test.ts-snapshots/
# Playwrghit
/test-results/
/tests/*/
/playwright-report/
/playwright/.cache/

# Node package
/package-lock.json
extras/unrefactored.test.ts
.gitignore
.idea/playwright.iml
